extends layout.pug

block title
    title Test
block content
    div(class="container")
        p Загрузите изображение для извлечения ЦВЗ:)
    div(class="container")
        form(action=" " method="post" enctype = "multipart/form-data")
            div(class="row")
                div(class="col-md-6")
                    div(class = "form-group")
                        input(type = "file" name ="image")
                    div(class = "form-group")
                div(class="col-md-6")
                    p Выберите цветовой канал для формирования стегоключа
                    div(class="form-group")
                        div(class="row")
                            div(class = "col-md-4")
                                input(id="red" type="radio" name="color" value="0")
                                label(for="red") Red
                            div(class = "col-md-4")
                                input(id="green" type="radio" name="color" value="1")
                                label(for="green") Green
                            div(class = "col-md-4")
                                input(id="blue" type="radio" name="color" value="2")
                                label(for="blue") Blue
                        div(class="row")
                            div(class = "col-md-6")
                                label(for="seed") Seed:
                                input(id="seed" type = 'text' name="seed" size="10")
                            div(class = "col-md-6")
                                label(for="E") E:
                                input(id="E" type = 'text' name="E" size="10")

            div(class="form-group text-center")
                div(class="col-12")
                    button(class="btn btn-primary" type = "submit" name = "submit") Загрузить


