extends layout.pug

block title
    title Test

block content
    p Hey there!On this web-page you can take out your digital watermark from image:)
        form(action=" " method="post" enctype = "multipart/form-data")
            div(class = "form-group")
                input(type = "file" name ="upload")
            div(class = "form-group")
                div(class="col-12")
                    button(class="btn btn-primary" type = "submit" name = "submit") Загрузить

