extends start

block title
    title Test

block content


    div(class="container border  form")
        form(action=" " method="post" enctype = "multipart/form-data")
            div(class="row")
                div(class="col-md-6")
                    p Введите секретную информацию в текстовом поле
                    div(class = "form-group")
                        input(type = "text" name="messages" size="40")
                    p Загрузите файл с информацией
                    div(class = "form-group")
                        input(type = "file" name ="text")
                    p Загрузите изображение
                    div(class = "form-group")
                        input(type = "file" name ="image")
                    div(class = "form-group")
                div(class="col-md-6")
                    p Выберите алгоритм шифрования
                    div(class="form-group")
                        div(class="row")
                            div(class = "col-md-6")
                                input(id="lsb" type="radio" name="alg" value="lsb")
                                label(for="lsb") LSB
                            div(class = "col-md-6")
                                input(id="block" type="radio" name="alg" value="block")
                                label(for="block") Blocks
                    p Выберите цветовой канал для формирования стегоключа
                        div(class="row")
                            div(class = "col-md-4")
                                input(id="red" type="radio" name="color" value="0")
                                label(class="red" for="red") "R"
                            div(class = "col-md-4")
                                input(id="green" type="radio" name="color" value="1")
                                label(class="green" for="green") "G"
                            div(class = "col-md-4")
                                input(id="blue" type="radio" name="color" value="2")
                                label(class="blue" for="blue") "B"
                        p Введите значения параметров, необходимых для создания маски(seed)
                        div(class="row")
                            div(class = "col-md-6")
                                label(for="seed") Seed:
                                input(id="seed" type = "number" name="seed" value="0" min="0" max="20" step="1")
                            //div(class = "col-md-6")
                                label(for="E") E:
                                input(id="E" type = "number" name="E" value="0" min="0" max="20" step="1")
            div(class="form-group text-center")
                div(class="col-12")
                    button(class="btn btn-secondary" type = "submit" name = "submit") Загрузить
                        i(class="fas fa-upload")
                div(class="col-12")
                    if Image
                        img(class="img-thumbnail" src="download/"+Image alt='enc')
    div(class="text-center")
        div(class="row")
            div(class="col-12")
                    a(class="btn btn-success" href="/download/"+Image download) Cкачать
                        i(class="fas fa-download")