doctype html
html
    head
        block title
        link(rel="stylesheet", href="/stylesheets/style.css")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")

    body
        div(class="container")
            div( class ="row")
                div(class="col-md-6")
                    div(class="float-left")
                        img(src="images/logo.png" alt="l")
                div(class="col-md-6")
                    div(class="float-right")
                        a(class="btn btn-secondary m-4  d-inline-block" href="/") Выход
            h3(id="intro") Web-сервис для встраивания цифровых водяных знаков в  растровые изображения
            div(class="row")
                div(class="col-md-6")
                    div(class="row intro")
                        div(class="media")
                            img(class="d-flex mr-3" src="images/1.png" alt="Generic placeholder image")
                            div(class="media-body")
                                p(class="mt-0 text-justify") Для внедрения цифрового водяного изображения в растровое изображение введите необходимую информацию в текстовом поле
                    div(class="row intro")
                        div(class="media")
                            img(class="d-flex mr-3" src="images/2.png" alt="Generic placeholder image")
                            div(class="media-body")
                                p(class="mt-0 text-justify") Загрузите изображение в формате PNG
                div(class="col-md-6")
                    div(class="row intro")
                        div(class="media")
                            img(class="d-flex mr-3" src="images/3.png" alt="Generic placeholder image")
                            div(class="media-body")
                                p(class="mt-0 text-justify") Выберите комбинацию параметров, необходимых для создания стеганографического ключа
                    div(class="row intro")
                        div(class="media")
                            img(class="d-flex mr-3" src="images/4.png" alt="Generic placeholder image")
                            div(class="media-body")
                                p(class="mt-0 text-justify") Для извлечения цифрового водяного знака загрузите изображение в формате PNG и выберите соответствующую комбинацию параметров для стеганографического ключа

        div(class="container")
            div(class="row")
                div(class="col-md-6")
                    button(class="btn btn-secondary m-4  d-inline-block" id="btnEncode") Bстроить
                    button(class="btn btn-secondary m-4  d-inline-block"  id="btnDecode") Извлечь
                div(id="resources" class="col-md-6 border")
                    h6 Полезный ресурс:
                    a(href="https://image.online-convert.com/ru/convert-to-png") Images to PNG
                    p Конвертация изображений любого формата в PNG
        div(id ="encodeContainer" class="container border")
            form(id="encodeForm" action="/enc" method="post" enctype = "multipart/form-data")

        div(id ="decodeContainer" class="container border")
            form(id="decodeForm" action="/dec" method="post" enctype = "multipart/form-data")

script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js")
script(src="/javascripts/main.js")