body {
  padding: 50px;
  background-color: beige;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.center{
  display: flex;
  align-items: center
}
a:hover{
  color: aliceblue;
  text-decoration: underline;
}
.abtn {
  color: aliceblue;
}
.form{
  padding:10px;
  background-color: ghostwhite;
}
.red{
  color: lavender;
  background-color: darkred;
  border-radius: 50%;
}
.green{
  color: lavender;
  background-color: forestgreen;
  border-radius: 50%;
}
.blue{
  color: lavender;
  background-color: navy;
  border-radius: 50%;
}
#resources{
  margin-bottom: 8px;
  padding-left: 20px;
  padding-top: 20px;
  border-radius: 50px 0 50px 0;
}
.intro{
  padding: 10px;
}
#intro{
  margin-top: 20px;
  margin-bottom: 20px;
}

